main {
    background-color: lightblue;
    border: solid;
    border-radius: 15px;
    max-width: 900px;
    text-align: center;
    /* margin: auto; */


}


/*     
.container {
    padding: 15px;
   
  }



  .picture {
    padding: 10px;
     
      
  }

  .name {
     
      font-size: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      width: 50%;
      
      float: left;
      
  } */

  /* .education {
      font-size: 25px;
    width: 50%;
    float: left;
    padding-top: 1cm;
    
  }

  .skill {
      padding-top: 1cm;
    font-size: 25px;
    width: 45%;
    float: left;
    
  }

  .level {
    width: 50%;
    float: left;
    
  }

  .dev {
    width: 45%;
    float: left;
    padding-top: 1cm;
    font-size: 25px;
  }

  b {
      text-decoration: underline;
  }

  ul {
      font-size: 20px;
      text-align: left;
  }
  
  hr {
    border: none;
    background-color: black; 
        height: 2px;
   }

.number{
    padding-right: 7cm;
    }

footer {
    padding-bottom: 5px;
  
} */
