body {
    background-color: lightblue;
}
    
.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .picture {
    width: 30%;
      float: left;
      
  }

  .name {
      padding-top: 1cm;
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
      float: right;
      
  }

  .education {
    width: 50%;
    float: left;
    
  }

  .skill {
    width: 45%;
    float: right;
    
  }

  .level {
    width: 50%;
    float: left;
    
  }

  .dev {
    width: 45%;
    float: right;
    
  }
/* .content {
    max-width: 1024px; 
    margin: 0 auto;
    
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
}


ol {
        list-style-position: inside; 
   }



.time {
    text-align: center;
} */ */
