main {
    background-color: lightblue;
    border: solid;
    max-width: 900px;
    text-align: center;
    margin: auto;

}


    
.container {
    background-color: lightblue;
    width: 100%;
    max-width: 900px;
    padding-top: 15px;
    margin: 0 auto;
  }

  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .picture {
    width: 50%;
      float: left;
      
  }

  .name {
     
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      width: 50%;
      
      float: left;
      
  }

  .education {
      font-size: 25px;
    width: 50%;
    float: left;
    padding-top: 1cm;
    
  }

  .skill {
      padding-top: 1cm;
    font-size: 25px;
    width: 45%;
    float: left;
    
  }

  .level {
    width: 50%;
    float: left;
    
  }

  .dev {
    width: 45%;
    float: left;
    padding-top: 1cm;
    font-size: 25px;
  }

  b {
      text-decoration: underline;
  }

  ul {
      font-size: 20px;
      text-align: left;
  }
  
  hr {
    border: none;
    background-color: black; 
        height: 2px;
   }

.number{
    padding-right: 7cm;
    }

footer {
    padding-bottom: 5px;
}
